.movies-card-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
  margin: 70px 0 70px 0;
  padding: 0;
  width: 1140px;
}

.movies-card-list__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto 0;
  padding: 0;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: rgba(0, 0, 0, 1);
}

.movies-card-list__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 320px;
  height: 36px;
  background-size: 320px 36px;
  color: rgba(0, 0, 0, 1);
  border: 0;
  margin: 60px 0 80px 0;
  padding: 0;
  border-radius: 6px;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  font-weight: 500;
  font-family: 'Inter', Arial, sans-serif;
  background: rgba(244, 244, 244, 1);
}

.movies-card-list__button:hover {
  opacity: 0.5;
  cursor: pointer;
}


@media screen and (max-width: 1150px){
  .movies-card-list {
    width: 708px;
  }
}


@media screen and (max-width: 1150px){
  .movies-card-list__container {
    margin: 60px 0 0 0;
  }
}

@media screen and (max-width: 1150px){
  .movies-card-list__button {
    margin: 80px 0 80px 0;
  }
}

@media screen and (max-width: 720px){
  .movies-card-list__container {
    margin: 50px 0 0 0;
    gap: 20px;
    width: 240px;
  }
}

@media screen and (max-width: 720px){
  .movies-card-list__button {
    margin: 70px 0 80px 0;
    width: 240px;
    background-size: 240px 36px;
  }
}
