.movies-card-list {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.movies-card-list__container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  margin: 70px 0 0 0;
  padding: 0;
}

.movies-card-list__button {
    width: 320px;
    height: 36px;
    background-size: 320px 36px;
    color: rgba(0, 0, 0, 1);
    border: 0;
    margin: 60px 0 80px 0;
    padding: 0;
    border-radius: 6px;
    font-size: 12px;
    line-height: 15px;
    font-weight: 500;
    font-family: 'Inter', Arial, sans-serif;
    background: rgba(244, 244, 244, 1);
}

.movies-card-list__button:hover {
  opacity: 0.5;
  cursor: pointer;
}



