.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}

.profile__container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 700px;
}

.profile__title {
  display: flex;
  justify-content: center;
  margin: 74px 0 106px 0;
  padding: 0;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

.profile__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 410px;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  color: rgba(0, 0, 0, 1);
}

.profile__block-input {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 16px 0 17px 0;
  margin: 0;
  border-bottom: 1px solid rgba(232, 232, 232, 1);
  position: relative;
}

.profile__input-title {
  padding: 0;
  margin: 0;
  width: 20%;
}

.profile__input {
  border: 0;
  padding: 0;
  margin: 0;
  background-color: transparent;
  outline: none;
  box-sizing: border-box;
  text-align: end;
  width: 80%;
  color: rgba(0, 0, 0, 1);
}

.profile__input_not-line {
  border-bottom: none;
}

.profile__input_error {
  color: rgba(238, 52, 101, 1);
}

.profile__error {
  color: rgba(238, 52, 101, 1);
  font-size: 10px;
  line-height: 12px;
  margin: 0;
  padding: 0;
  display: block;
  position: absolute;
  z-index: 1;
  top: 30px;
  right: 0;
}


.profile__button-container {
  position: relative;
}

.profile__form-error {
  color: rgba(238, 52, 101, 1);
  font-size: 10px;
  line-height: 12px;
  margin: 0;
  padding: 0;
  display: block;
  position: absolute;
  bottom: 70px;
  width: 100%;
  text-align: center;
}


.profile__button {
  color: #000000;
  border: 0;
  margin: 204px 0 16px 0;
  padding: 0;
  border-radius: 3px;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  background-color: #FFFFFF;
}

.profile__button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.profile__menu {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

.profile__menu-link {
  color: #EE3465;
  font-size: 13px;
  line-height: 16px;
  font-weight: 500;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Inter', Arial, sans-serif;
}

.profile__menu-link:hover {
  opacity: 0.5;
  cursor: pointer;
}

@media screen and (max-width: 1150px){
  .profile__container {
    height: 1024px;
  }
}

@media screen and (max-width: 1150px){
  .profile__title {
    margin: 236px 0 80px 0;
  }
}

@media screen and (max-width: 1150px){
  .profile__button {
    margin: 194px 0 16px 0;
  }
}

@media screen and (max-width: 720px){
  .profile__container {
    height: 780px;
    width: 292px;
  }
}

@media screen and (max-width: 720px){
  .profile__title {
    margin: 70px 0 64px 0;
    font-size: 24px;
    line-height: 29px;
    font-weight: 500;
  }
}

@media screen and (max-width: 720px){
  .profile__form {
    width: 260px;
  }
}

@media screen and (max-width: 720px){
  .profile__button {
    margin: 363px 0 16px 0;
    font-size: 12px;
    line-height: 15px;
    font-weight: 500;
  }
}

@media screen and (max-width: 720px){
  .profile__menu-link {
    font-size: 12px;
    line-height: 15px;
    font-weight: 400;
    margin-bottom: 30px;
  }
}
