.filter-checkbox {
  display: flex;
  align-items: center;
  gap: 12px;
}

.filter-checkbox__container {
  opacity: 0;
  width: 36px;
  height: 20px;
}

.filter-checkbox__button {
  position: absolute;
  background-image: url(../../images/green.svg);
  background-size: 16px 16px;
  background-repeat: no-repeat;
  border-radius: 16px;
  background-position: 18px center;
  width: 36px;
  height: 20px;
  margin: 0;
  padding: 0;
  box-shadow: 0px 4px 8px 0px rgba(50, 50, 71, 0.06);
  box-shadow: 0px 4px 4px 0px rgba(50, 50, 71, 0.08);
  z-index: 1;
}

.filter-checkbox__button:hover {
  opacity: 0.7;
  cursor: pointer;
}

.filter-checkbox__button_no-aktive {
  opacity: 0.5;
  background-position: 2px center;
}

.filter-checkbox__txt {
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 720px){
  .filter-checkbox__txt {
    font-size: 11px;
  }
}
