.about-project {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0;
  padding: 0;
}

.about-project__container {
  width: 1140px;
  height: 608px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.about-project__title {
  border-bottom: 1px solid rgba(232, 232, 232, 1);
  width: 100%;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0 0 23px 0;
  font-size: 22px;
  line-height: 27px;
}

.about-project__text {
  display: grid;
  grid-template-columns: auto auto;
  gap: 40px;
  padding: 0;
  margin: 70px 0 110px 0;
}

.about-project__block {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.about-project__title-block {
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  font-size: 20px;
  line-height: 24px;
}

.about-project__info {
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 400;
  margin: 26px 0 0 0;
  padding: 0;
  font-size: 14px;
  line-height: 20px;
}

.about-project__tab {
  display: grid;
  grid-template-columns: 228px 912px;
  grid-template-rows: 36px 36px;
  font-family: 'Inter', Arial, sans-serif;
  text-align: center;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  color: rgba(160, 160, 160, 1);
  padding: 0;
  margin: 0;
}

.about-project__tab-back {
  display: flex;
  color: rgba(255, 255, 255, 1);
  background: rgba(52, 86, 243, 1);
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
}

.about-project__tab-front {
  display: flex;
  color: rgba(0, 0, 0, 1);
  background: rgba(242, 242, 242, 1);
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
}

.about-project__tab-txt {
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1150px){
  .about-project__container {
    width: 668px;
    height: 585px;
  }
}

@media screen and (max-width: 1150px){
  .about-project__text {
    gap: 30px;
    margin: 70px 0 93px 0;
  }
}

@media screen and (max-width: 1150px){
  .about-project__info {
    margin: 22px 0 0 0;
  }
}

@media screen and (max-width: 1150px){
  .about-project__tab {
    grid-template-columns: 140px 528px;
    font-size: 11px;
    line-height: 13px;
  }
}

@media screen and (max-width: 1150px){
  .about-project__txt {
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 20px;
  }
}

@media screen and (max-width: 720px){
  .about-project__container {
    width: 320px;
    height: 641px;
  }
}

@media screen and (max-width: 720px){
  .about-project__text {
    margin: 60px 0 60px 0;
    grid-template-columns: auto;
    gap: 56px;
  }
}

@media screen and (max-width: 720px){
  .about-project__tab {
    grid-template-columns: 100px 184px;
    grid-template-rows: 35px 35px;
  }
}

@media screen and (max-width: 720px){
  .about-project__title {
    font-size: 18px;
    line-height: 22px;
  }
}

@media screen and (max-width: 720px){
  .about-project__title-block {
    font-size: 18px;
    line-height: 22px;
  }
}

@media screen and (max-width: 720px){
  .about-project__info {
    font-size: 11px;
    line-height: 16px;
  }
}
