.register {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 500;
}

.register__container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 396px;
}

.register__form {
  margin: 0;
  padding: 0;
}

.register__title {
  margin: 40px 0 40px 0;
  padding: 0;
  font-size: 24px;
  line-height: 29px;
}

.register__block-input {
  position: relative;
}

.register__input-title {
  color: rgba(160, 160, 160, 1);
  font-size: 10px;
  line-height: 12px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.register__input {
  position: relative;
  border: 0;
  width: 100%;
  padding: 5px 0 10px 0;
  margin: 0 0 24px 0;
  background-color: transparent;
  outline: none;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(232, 232, 232, 1);
  font-size: 14px;
  line-height: 17px;
  color: rgba(0, 0, 0, 1);
}

.register__input_aktiv {
  border-bottom: 1px solid rgba(52, 86, 243, 1);
}

.register__input_error {
  color: rgba(238, 52, 101, 1);
}

.register__error {
  color: rgba(238, 52, 101, 1);
  font-size: 10px;
  line-height: 12px;
  margin: 0;
  padding: 0;
  display: block;
  position: absolute;
  top: 46px;
}

.register__error_aktiv {
  display: block;
}

.register__button {
  width: 396px;
  height: 45px;
  background-size: 358px 50px;
  color: #FFFFFF;
  border: 0;
  margin: 197px 0 16px 0;
  padding: 0;
  border-radius: 3px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  background-color: rgba(52, 86, 243, 1);
}

.register__button_disabled {
  opacity: 0.3;
}

.register__button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.register__menu {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.register__menu-txt {
  color: rgba(160, 160, 160, 1);
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  margin: 0 6px 0 0;
  padding: 0;
}

.register__menu-link {
  color: rgba(52, 86, 243, 1);
  font-size: 14px;
  line-height: 17px;
  margin: 0;
  padding: 0;
}

.register__menu-link:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 720px){
  .register {
    align-items: flex-start;
  }
}

@media screen and (max-width: 720px){
  .register__container {
    margin-top: 56px;
    align-items: center;
    width: 260px;
  }
}

@media screen and (max-width: 720px){
  .register__title {
    margin: 50px 0 80px 0;
  }
}

@media screen and (max-width: 720px){
  .register__button {
    width: 260px;
    margin: 285px 0 14px 0;
    font-size: 12px;
    line-height: 15px;
    font-weight: 500;
  }
}

@media screen and (max-width: 720px){
  .register__menu-link {
    font-size: 12px;
    line-height: 15px;
    font-weight: 400;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 720px){
  .register__menu-txt {
    font-size: 12px;
    line-height: 15px;
    font-weight: 400;
    margin-bottom: 30px;
  }
}
